In [11]:
import pandas as pd

In [12]:
migration2017 = pd.read_excel('cleaned excels/State_to_State_Migrations_Table_2017_clean2.xls')
migration2018 = pd.read_excel('cleaned excels/State_to_State_Migrations_Table_2018_clean2.xls')
migration2019 = pd.read_excel('cleaned excels/State_to_State_Migrations_Table_2019_clean2.xls')

In [13]:
migration2017.head()

,Current residence in,Population 1 year and over,Same house 1 year ago,Same state of residence 1 year ago,Total_Incoming,Total_Outgoing,Net Migration,Avg. Home Price,Percent of Job Growth,Alabama,...,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Total,Puerto Rico,U.S. Island Area,Foreign Country4
0,Alabama,4819343,4158224,535649,111803,101466.0,10337.0,129174.0000,1.09,NaN,...,0.0,4277.0,1289.0,1070.0,1121.0,104.0,13667,476.0,0,13191
1,Alaska,730874,595804,98168,30199,42972.0,-12773.0,291458.9167,-1.30,942.0,...,0.0,360.0,3653.0,0.0,2500.0,6.0,6703,0.0,965,5738
2,Arizona,6935358,5717189,911120,261727,163214.0,98513.0,228362.7500,2.52,1337.0,...,96.0,3593.0,14392.0,318.0,3897.0,997.0,45322,438.0,91,44793
3,Arkansas,2968395,2509717,370309,79411,69850.0,9561.0,120987.0833,1.27,574.0,...,0.0,1087.0,1539.0,0.0,958.0,12.0,8958,573.0,0,8385
4,California,39085984,34009331,4234770,523131,661026.0,-137895.0,508307.1667,2.10,3715.0,...,895.0,21162.0,33143.0,789.0,9348.0,1395.0,318752,1864.0,842,316046

In [14]:
migration2018.head()

,Current residence in,Population 1 year and over,Same house 1 year ago,Same state of residence 1 year ago,Total_Incoming,Total_Outgoing,Net Migration,Avg. Home Price,Percent of Job Growth,Alabama,...,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Total,Puerto Rico,U.S. Island Area,Foreign Country
0,Alabama,4832358,4173026,534914,109301,98194.0,11107.0,135305.5833,1.28,NaN,...,0.0,5221.0,2125.0,176.0,996.0,74.0,15117,957.0,893,13267
1,Alaska,727164,608707,81229,32099,39246.0,-7147.0,293439.7500,-0.43,518.0,...,5.0,654.0,2558.0,0.0,340.0,192.0,5129,344.0,267,4518
2,Arizona,7090137,5887700,888452,273714,179586.0,94128.0,245824.0000,2.90,2801.0,...,37.0,4956.0,17560.0,29.0,7788.0,929.0,40271,1289.0,1449,37533
3,Arkansas,2975961,2539294,354774,73179,69724.0,3455.0,126603.0833,1.38,438.0,...,0.0,900.0,1328.0,72.0,130.0,0.0,8714,1693.0,0,7021
4,California,39114889,34232867,4092388,501023,691145.0,-190122.0,546043.3333,2.05,4591.0,...,1641.0,17725.0,38007.0,1246.0,5364.0,1526.0,288611,1250.0,3712,283649

In [15]:
migration2019.head()

,Current residence in,Population 1 year and over,Same house 1 year ago,Same state of residence 1 year ago,Total_Incoming,Total_Outgoing,Net Migration,Avg. Home Price,Percent of Job Growth,Alabama,...,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Total,Puerto Rico,U.S. Island Area,Foreign Country
0,Florida,21269409,18083185,2381208,601611,457301.0,144310.0,255039.3636,1.93,15153.0,...,3355.0,26031.0,6870.0,2186.0,6563.0,624.0,203405,14657.0,2422,186326
1,Alabama,4849509,4197698,534842,104780,98704.0,6076.0,150573.1818,1.37,NaN,...,0.0,2876.0,1883.0,421.0,1307.0,0.0,12189,338.0,103,11748
2,Alaska,722063,609362,74375,34031,50134.0,-16103.0,292670.7273,0.51,260.0,...,44.0,2216.0,1435.0,355.0,228.0,242.0,4295,37.0,17,4241
3,Arizona,7200620,6038776,861935,253295,173631.0,79664.0,284534.2727,2.79,1750.0,...,662.0,3837.0,17636.0,237.0,3688.0,664.0,46614,970.0,152,45492
4,Arkansas,2989054,2559444,361762,59723,64524.0,-4801.0,137060.9091,0.83,636.0,...,0.0,671.0,571.0,133.0,797.0,1109.0,8125,302.0,0,7823

In [16]:
combined = migration2017.append([migration2018, migration2019], ignore_index = False)
combined

,Current residence in,Population 1 year and over,Same house 1 year ago,Same state of residence 1 year ago,Total_Incoming,Total_Outgoing,Net Migration,Avg. Home Price,Percent of Job Growth,Alabama,...,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Total,Puerto Rico,U.S. Island Area,Foreign Country4,Foreign Country
0,Alabama,4819343,4158224,535649,111803,101466.0,10337.0,129174.0000,1.09,NaN,...,4277.0,1289.0,1070.0,1121.0,104.0,13667,476.0,0,13191.0,NaN
1,Alaska,730874,595804,98168,30199,42972.0,-12773.0,291458.9167,-1.30,942.0,...,360.0,3653.0,0.0,2500.0,6.0,6703,0.0,965,5738.0,NaN
2,Arizona,6935358,5717189,911120,261727,163214.0,98513.0,228362.7500,2.52,1337.0,...,3593.0,14392.0,318.0,3897.0,997.0,45322,438.0,91,44793.0,NaN
3,Arkansas,2968395,2509717,370309,79411,69850.0,9561.0,120987.0833,1.27,574.0,...,1087.0,1539.0,0.0,958.0,12.0,8958,573.0,0,8385.0,NaN
4,California,39085984,34009331,4234770,523131,661026.0,-137895.0,508307.1667,2.10,3715.0,...,21162.0,33143.0,789.0,9348.0,1395.0,318752,1864.0,842,316046.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,Virginia,8439982,7201805,903735,264855,276849.0,-11994.0,292564.7273,1.19,4028.0,...,NaN,6580.0,5518.0,1518.0,167.0,69587,1896.0,185,NaN,67506.0
49,Washington,7527366,6253469,977928,231956,199758.0,32198.0,433595.2727,2.00,1060.0,...,6656.0,NaN,275.0,1456.0,626.0,64013,318.0,1465,NaN,62230.0
50,West Virginia,1773280,1563611,164739,39548,40460.0,-912.0,108039.9091,-0.85,245.0,...,6008.0,129.0,NaN,41.0,0.0,5382,606.0,0,NaN,4776.0
51,Wisconsin,5760481,5001140,634732,107973,101668.0,6305.0,198568.8182,0.20,678.0,...,1878.0,1682.0,572.0,NaN,1417.0,16636,513.0,0,NaN,16123.0
52,Wyoming,572884,473128,68127,30247,23287.0,6960.0,254174.5455,1.29,1227.0,...,415.0,885.0,308.0,27.0,NaN,1382,0.0,0,NaN,1382.0

In [17]:
combined = combined.fillna(0)

In [18]:
combined.to_excel("combined_data.xls", index= False, header= True)