In [1]:
import pandas as pd

In [14]:
migration2017 = pd.read_excel('Excels/State_to_State_Migrations_Table_2017.xls')
migration2018 = pd.read_excel('Excels/State_to_State_Migrations_Table_2018.xls')
migration2019 = pd.read_excel('Excels/State_to_State_Migrations_Table_2019_clean.xls')

In [15]:
migration2019.head()

,Current residence in,Population 1 year and over,Same house 1 year ago,Same state of residence 1 year ago,Total,Alabama,Alaska,Arizona,Arkansas,California,...,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Total.1,Puerto Rico,U.S. Island Area,Foreign Country
0,United States2,324665523.0,280343146.0,35013848.0,7398337.0,98704.0,50134.0,173631.0,64524.0,653551.0,...,22714.0,276849.0,199758.0,40460.0,101668.0,23287.0,1910192.0,66021.0,15276.0,1828895.0
1,Alabama,4849509.0,4197698.0,534842.0,104780.0,NaN,1105.0,904.0,813.0,3690.0,...,0.0,2876.0,1883.0,421.0,1307.0,0.0,12189.0,338.0,103.0,11748.0
2,Alaska,722063.0,609362.0,74375.0,34031.0,260.0,NaN,886.0,12.0,2547.0,...,44.0,2216.0,1435.0,355.0,228.0,242.0,4295.0,37.0,17.0,4241.0
3,Arizona,7200620.0,6038776.0,861935.0,253295.0,1750.0,1561.0,NaN,1022.0,59713.0,...,662.0,3837.0,17636.0,237.0,3688.0,664.0,46614.0,970.0,152.0,45492.0
4,Arkansas,2989054.0,2559444.0,361762.0,59723.0,636.0,98.0,692.0,NaN,4967.0,...,0.0,671.0,571.0,133.0,797.0,1109.0,8125.0,302.0,0.0,7823.0