In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('combined_data_1.xls')

In [3]:
data

,Current residence in,Population 1 year and over,Same house 1 year ago,Same state of residence 1 year ago,Total_Incoming,Total_Outgoing,Net Migration,Avg. Home Price,Percent of Job Growth,Alabama,...,Total,Puerto Rico,U.S. Island Area,Foreign Country4,Total-Incoming,Total_ Outgoing,Avg Home Price,Foreign Country,Total- Incoming,Total- Outgoing
0,Alabama,4819343,4158224,535649,111803,101466.0,10337,129174.0000,1.09,0,...,13667,476,0,13191,0,0,0.0000,0,0,0
1,Alaska,730874,595804,98168,30199,42972.0,-12773,291458.9167,-1.30,942,...,6703,0,965,5738,0,0,0.0000,0,0,0
2,Arizona,6935358,5717189,911120,261727,163214.0,98513,228362.7500,2.52,1337,...,45322,438,91,44793,0,0,0.0000,0,0,0
3,Arkansas,2968395,2509717,370309,79411,69850.0,9561,120987.0833,1.27,574,...,8958,573,0,8385,0,0,0.0000,0,0,0
4,California,39085984,34009331,4234770,523131,661026.0,-137895,508307.1667,2.10,3715,...,318752,1864,842,316046,0,0,0.0000,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,Virginia,8439982,7201805,903735,264855,276849.0,-11994,292564.7273,1.19,4028,...,69587,1896,185,0,0,0,292564.7273,67506,264855,276849
155,Washington,7527366,6253469,977928,231956,199758.0,32198,433595.2727,2.00,1060,...,64013,318,1465,0,0,0,433595.2727,62230,231956,199758
156,West Virginia,1773280,1563611,164739,39548,40460.0,-912,108039.9091,-0.85,245,...,5382,606,0,0,0,0,108039.9091,4776,39548,40460
157,Wisconsin,5760481,5001140,634732,107973,101668.0,6305,198568.8182,0.20,678,...,16636,513,0,0,0,0,198568.8182,16123,107973,101668
158,Wyoming,572884,473128,68127,30247,23287.0,6960,254174.5455,1.29,1227,...,1382,0,0,0,0,0,254174.5455,1382,30247,23287